th{
    white-space: nowrap;
}
th{
    text-align: center;
}
hr{
    border-top: 1px solid rgba(226, 48, 48, 0.1)
}
.navbar-laravel {
    background-color: rgb(225, 50, 74) !important;
}
.navbarDropdown{
    color: #FFF !important;
}
.navbar-light .navbar-nav .nav-link {
    color:#000 !important;
    font-weight: 500;
}
.btn-cli{
    margin: 1% 0 2% 46%;
  
}
.btn-csv{
    margin: 1% 0 2% 0;
  
}
.table-responsive {
    display: table;
}
.loading{
    display:none;
}
.spin{
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin: 9% 0 0 44%;
    animation: spin 2s linear infinite;
}
.fadein{
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}